@page "/"
@using System.Text.Json.Serialization
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Investors</h1>

Click on an investor row for more details

@if (investors == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Firm ID</th>
            <th>Firm Name</th>
            <th>Type</th>
            <th>Date Added</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var investor in investors)
        {
            <tr>
                <td>@investor.FirmId</td>
                <td>@investor.FirmName</td>
                <td>@investor.Type</td>
                <td>@investor.DateAdded.ToShortDateString()</td>
                <td>@investor.Address</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    public Investor[]? investors;

    protected override async Task OnInitializedAsync()
    {
        investors = await Http.GetFromJsonAsync<Investor[]>("http://127.0.0.1:8000/api/investors");
    }

    public class Investor
    {
        [JsonPropertyName("firm_id")]
        public int FirmId { get; set; }
        
        [JsonPropertyName("firm_name")]
        public string FirmName { get; set; }
        
        [JsonPropertyName("firm_type")]
        public string Type { get; set; } 

        [JsonPropertyName("date_added")]
        public DateTime DateAdded { get; set; }

        [JsonPropertyName("address")]
        public string Address { get; set; }
    }
}